
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.build-*
.cache
.data
.DS_Store
.env
.idea
.LSOverride
.netlify
.nuxt
.nyc_output
.output
.temp
.tmp
.vercel_build_output
.vscode/*
*.iml
*.lcov
*.log*
**/.yarn/*state*
**/.yarn/cache
# Dependencies
# Env
# Generated dirs
# Intellij idea
# Logs
# Nuxt
# OSX
# Temp directories
# Testing
# VSCode
# Yarn
coverage
dist
Network Trash Folder
node_modules
reports
Temporary Items
